.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  padding: 24px;
  color: #000;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.fullWidth {
  grid-column: span 2;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #000;
}

.labelText {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
}

input {
  margin-top: 6px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  color: #000;
}

input[type="file"] {
  padding: 3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.cancelBtn {
  background: #ddd;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.saveBtn {
  background: #0077ff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.addBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
 margin-top: 5px;
}

.addBtn:hover {
  background-color: #0056b3;
}

.removeBtn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 14px;
  line-height: 0;
  cursor: pointer;
  margin-left: 5px;
}

.removeBtn:hover {
  background-color: #d9363e;
}
.unitMrpContainer{
  width: 100%;
}
.unitMrpRow{
  width: 100%;
  display: flex;
  align-items: center;
}

img.preview {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 6px;
  border: 1px solid #ccc;
}

@media (max-width: 600px) {
  .formGrid {
    grid-template-columns: 1fr;
  }
  .fullWidth {
    grid-column: span 1;
  }
}